/* Main elements */
* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Styling Navbar */
nav {
    display: flex;
    height: 69px;
    border-bottom: 1px solid seashell;   
}

.navbar_menu {
    display: flex;
    margin-left: 550px;
    align-items: center;
    list-style: none;
}

.navbar_links {
    padding: 0 1rem;
    height: 100%;
}

.logo {
    height: 50px;
    padding: 10px;
}

/* Styling introductory header */
.intro_box {
    background-image: url("/images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro_content {
    background-color: black;
    line-height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.intro_content h1 {
    font-size: 35px;
}

/* Styling tea showcase */
.tea_of_the_month h1 {
    font-size: 35px;
}

.tea_showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    height: 200px;
    width: 300px;
    margin: 10px;
}

/* Styling location box */
.location_container {
    background-image: url("/images/img-locations-background.jpg");
    height: 700px;
    width: 1200px;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location_display {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 200px;
    background-color: transparent;
}

.location_box {
    line-height: 40px;
    margin: auto 40px;
    width: 300px;
}

#location_h1 {
    background-color: transparent;
    font-size: 45px;
    position: relative;
    top: 180px;
}

/* Styling the 'contact us' box */
.contact_box {
    line-height: 40px;
    font-size: 60px;
    height: 200px;
    margin-top: 40px;
}

/* Styling the footer */
.copyright {
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
}



